/* .public{
    margin-left: 30%;
    margin-bottom: 5%;
    position: absolute;
    margin-top: -65%;
    width: 45%;
} */

.modif{
    display: block;
    flex-direction: column;
    height: '100%'
}