/* a:active,a:visited,a:link{ color: var(#efa02a)} */

.botoncito{
margin-left: 120px;
}

.input{
    margin: 10px;
    border-radius: 7px;
    padding: 5px;
}

.cuenta{
    margin-left: -6px;
}

.contra{
    color: #6b74b5;
}

.logo{
    width: 10%;
    position: absolute;
    top: 20%;
    left: 12%;
}

.img{
    width: 60%;
    margin-left: 17%;
    
}

.content{
    display: flex;
    flex-direction: column;
}