.dashContainer{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: absolute;
}

.sideBar{
    display: flex;
    height: 100%;
    width: 150px;
    min-width: 150px;
    align-items: center;
}

.showContainer{
    display: flex;
    width: max-content;
}

.tableContainer{
    margin: 10px;
}