/* a:active,a:visited,a:link{ color: var(#efa02a)} */
.form{
    margin: auto;
    box-shadow: 0 2px 20px #dddddd;
    padding: 50px;
    border-radius: 20px;
    align-items: center;
    width: 35%;
    /* display: flex; */
    justify-content: center;
    /* display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: medium;
    text-justify: left;
    width: 600px;
    margin-left: 40px; */
  }

  .registrar{
    width: 300% ;
    margin-left: -100%;
  }

  .datos{
    margin-top: 5px;
  }

  .crea-usuario{
    color: #b03537 ;
  }

p.danger {
    color: red;
    font-size: 13px;
  }

.botoncito{
    margin-left: 120px;
    }
    
    .input{
        margin: 10px;
        border-radius: 7px;
        padding: 5px;
    }
    
    .cuenta{
        margin-left: 53px;
    }
    
    .contra{
        color: #6b74b5;
    }
    
    .logo{
        width: 10%;
        position: absolute;
        top: 10%;
        left: 12%;
    }
    
    .img{
        width: 60%;
        margin-left: 17%;
        
    }
    
    .content{
        display: flex;
        flex-direction: column;
    }